.map {
  grid-area: map;
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid #dee2e6;
  overflow: hidden;
}

.details {
  grid-area: details;
  height: 100%;
  width: 100%;
  background-color: white;
  border: 1px solid #dee2e6;
  overflow: hidden;
}
