<section id="details">
  <div class="cards-container">
    @if(mostrarDetalhesMunicipios()) { @for(info of municipio(); track info.id)
    {
    <div
      class="card mb-4"
      [attr.data-id]="info.id"
      (click)="atualizarMunicipioEscolhido(info)"
    >
      <div class="card-body">
        <h5 class="card-title">{{ info.municipio }}</h5>
        <p class="card-text">Estado: {{ info.estado }}</p>
        <p class="card-text">
          População: {{ info.populacao | number : "1.0-0" }} hab.
        </p>
        <p class="card-text">Área: {{ info.area | number : "1.0-1" }} km²</p>
      </div>
    </div>
    }
    <p class="counter">{{ municipio().length }} resultado(s)</p>
    } @else { @for(info of estado(); track info.id) {
    <div class="card mb-4" [attr.data-id]="info.id">
      <div class="card-body">
        <h5 class="card-title">{{ info.estado }}</h5>
        <p class="card-text">Número de municípios: {{ info.qtde }}</p>
        <p class="card-text">
          População: {{ info.populacao | number : "1.0-0" }} hab.
        </p>
        <p class="card-text">Área: {{ info.area | number : "1.0-1" }} km²</p>
      </div>
    </div>
    }
    <p class="counter">{{ estado().length }} resultado(s)</p>
    }
  </div>
</section>
